.window {
    z-index: 10;
    position: fixed;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1C21;
    border-radius: 40px;
}
