.window {
    z-index: 10;
    position: fixed;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1C21;
    border-radius: 40px;
}

.button__product {
    z-index: 11;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../../images/crossicon.svg);
    position: absolute;
    top: 40px;
    right: 40px;
    border: none;
}
.button__product:hover {
    cursor: pointer;
}

.button__order {
    z-index: 11;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../../images/crossicon.svg);
    position: absolute;
    top: 60px;
    right: 40px;
    border: none;
}
.button__order:hover {
    cursor: pointer;
}
