@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Iceland-Regular.ttf") format("ttf");
}

body {
  margin: 0;
  font-family: 'JetBrainsMono', Arial, sans-serif;
  background-color: #131316;
  color: #F2F2F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}