.header {
    min-width: 1600px;
    max-width: 1880px;
    box-sizing: border-box;
    background-color: #1C1C21;
}

@media screen and (max-width: 1600px) {
    .header {
        min-width: 1480px;
    }
}

@media screen and (max-width: 1480px) {
    .header {
        min-width: none;
        width: 100%;
    }
}

.nav { 
    composes: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 112px;
    overflow-x: hidden;
}


.iconblock {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.inactive {
    background-color: #8585AD;
}

.iconbox {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    text-decoration: none;
}

.iconbox_profile {
    composes: iconbox;
    flex-basis: 348px;
    justify-content: flex-end;
}

.title {
    margin: 0;
    font-family: 'JetBrainsMono', Arial, sans-serif;
    color: #F2F2F3;
}